* {
    box-sizing: border-box;
    font-family: Georgia;
}

#settings-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

#settings-container h2 {
    align-self: center;
}

.options-list {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 25%;
    align-self: center;
}

.options-list-item {
    width: 100%;
    height: 3rem;
}

.options-list-item:hover {
    cursor: pointer;
}